# Act 6.4 Stripping Spaces and Cleaning Non-Numeric Junk
 

- [**Stripping Extra Spaces**](#Stripping-Extra-Spaces)  


- [**Getting Rid of Non-Numeric Field Junk: Dollar Signs, commas, etc...**](#Getting-Rid-of-Non-Numeric-Field-Junk)    
   

- [**Changing Data Type**](#Changing-Data-Type)  
    - string to int  
    - string to float  
    - string to date

In [ ]:
import pandas as pd

# Stripping Extra Spaces

In [ ]:
# Hardcode a dataframe 
df_employees = pd.DataFrame(
    [
    [1699,'  Robinett, David  ','  david22@adventure-works.com  ', '(827) 525-0100', '06-05-2010', '$80,950'], 
    [1700,'  Robinson, Rebecca  ','  rebecca5 @adventure-works.com  ', '(829) 525-0101', '05-01-2015', '$70,950'],
    [1701,'     Robinson, Dorothy    ','  dorothy3@adventure-works.com    ', '(828) 555-0102', '03-01-2017', '$50,00'],
    ], 
    columns=['BusinessEntityID', 'EmployeeName','EmailAddress', 'PhoneNumber', 'StartDate', 'CurrentSalary'])
  
df_employees

In [ ]:
# Show the 'before'
df_employees['EmployeeName']

In [ ]:
# Strip extra spaces from Product column
df_employees['EmployeeName'] = df_employees['EmployeeName']

In [ ]:
# Show the 'after'
df_employees['EmployeeName']

# Getting Rid of Non-Numeric Field Junk

In [ ]:
# Hardcode a dataframe
df_shoes = pd.DataFrame(
    [
    [1,'2017-01-01','Boots','7 (US)', '$25,000'],
    [2,'2017-01-01','Boots','4 (US)', '$35,000'],
    [3,'2017-01-01','Boots','6 (US)', '$21,000'],
    ],
    columns=['OrderID','Order Date','Product','Size','Price'])

df_shoes

In [ ]:
# Get rid of non-numeric junk in the Price field
df_shoes['Price'] = df_shoes['Price']
df_shoes['Price'] = df_shoes['Price']

df_shoes['Price'].head()

In [ ]:
# Get rid of non-numeric junk in the Size field
df_shoes['Size'] = df_shoes['Size']
df_shoes['Size'] = df_shoes['Size']
df_shoes['Size'] = df_shoes['Size']

df_shoes['Size'].head()

# Changing Data Type

In [ ]:
# Check data types
# Note the data type for Price and Size are objects, which means pandas thinks they are strings
df_shoes.dtypes

## Changing a string to an int

In [ ]:
# Change the data type of Size from string to int
df_shoes['Size'] = pd.to_numeric(df_shoes['Size']).astype(int)

df_shoes.dtypes

## Changing a string to a float

In [ ]:
# Change the data type of Price to float
# Convert it to numeric and then specify float 
df_shoes['Price'] = pd.to_numeric(df_shoes['Price']).astype(float)
df_shoes.dtypes

## string to date

In [ ]:
# Change Order Date from string to date
df_shoes['Order Date'] = 

df_shoes.dtypes

In [ ]:
df_shoes.head()